# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
ENV/
env/
.env/

# VSCode settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Python compiled files
*.pyo
*.pyd

# Backup files
*~
